<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Produto</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->
  <%- include('./navbar'); %>
  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="https://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom1.jpg?ts=1663156034&ims=544x" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">Categoria 2</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">Novo</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Mais vendidos</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>R$2000</del>
              </span>
              <span>R$<%= product.valor %></span>
            </p>

            <p class="lead font-weight-bold"><%= product.nome %></p>

            <p>A bota em couro Eldorado Good é a estrela dos calçados workwear Bradok, trazendo consigo uma identidade robusta e resistente, reforçando ainda mais nosso compromisso de fabricar calçados com excelência, seja em materiais, acabamento, conforto e muito estilo.</p>


            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <a class="btn btn-primary btn-md my-0 p" type="submit" href ="/pagamento/<%= product.id %>" >Comprar
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Descrição</h4>

          <p>Este calçado possuí a Tecnologia Dual Sole garante maior resistência e durabilidade do solado, o sistema de construção impede que o solado descole e proporciona um acabamento impecável no produto, evitando resíduos de cola no cabedal. . Genuine Leather: Este calçado é confeccionado com couro legítimo. As ranhuras e as marcas naturais do original foram preservadas para manter a beleza completa e a durabilidade do couro. Essas marcas são assinaturas da natureza, a estampa da individualidade encontrada apenas no couro legítimo. . Move&Clean: Palmilha removível para facilitar a limpeza e higienização do seu calçado. . Rubber Sole: Sola em borracha com garantia "Quality Rubber Bradok". Resistência, grip e absorção de impacto. . Dual Sole: Combinação de dois componentes do solado, costurados (blaqueado interno) e colados, reforçando o desempenho e a qualidade. . Cabedal: Couro Nobuck e Colarinho de Napa Vacum. . Forro:Tecido / Têxtil. . Solado:Borracha. . Palmilha:EVA anatômico forrado em tecido para maior conforto e estabilidade. . Peso aproximado: 0,570 kg (pé) / 1,140 (par). . Altura aproximada: Externa 17,5 cm / Interna 13,5 cm.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom2.jpg?ts=1663156034&?ims=544xhttps://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom2.jpg?ts=1663156034&?ims=1088x" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom3.jpg?ts=1663156034&?ims=544xhttps://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom3.jpg?ts=1663156034&?ims=1088x" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom4.jpg?ts=1663156034&?ims=544xhttps://static.netshoes.com.br/produtos/bota-bradok-eldorado-good-yellow/30/QXE-0219-030/QXE-0219-030_zoom4.jpg?ts=1663156034&?ims=1088x" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

<!--Footer-->
<%- include('./footer'); %>
<!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
